*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    display: grid;  
    min-height: 100vh;
    grid-template-rows: auto auto 30vh;
    grid-template-areas:
    "topo"
    "main"
    "rodape"
    ;
}

.top{
    grid-area: topo;
    background-color: rgb(0, 132, 255);
    display: grid;
    grid-template-areas:
    "titulo"
    "campoindice"
    ;
}

.tituloIndice{
    grid-area: titulo;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-areas:
    "eva settings"
    ;
    grid-template-columns: auto 50px;
}

.eva{
    grid-area: eva;
}

.settings{
    grid-area: settings;
    background-color: sandybrown;
}

.campoIndice{
    grid-area: campoindice;
    height: 5vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "botao1 botao2 botao3 pesquisa";
}

.botao1, .botao2, .botao3{
    background-color: rgb(153, 153, 153);
    display: grid;
    justify-content: center;
    align-items: center;
}

.estiloBotao{
    border-radius: 5px;
    color: blue;
    border: 0px;
}

.botao1{
    grid-area: botao1;
    display: grid;
    grid-template-columns: 1fr;
}

.botao2{
    grid-area: botao2;
    display: grid;
    grid-template-columns: 1fr;
}

.botao3{
    grid-area: botao3;
    display: grid;
    grid-template-columns: 1fr;
}

.pesquisa{
    grid-area: pesquisa;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pesquisa input{
    border: 0px;
    border-radius: 10px;
}

.rodape{
    grid-area: rodape;
    display: grid;
    background-color: rgb(29, 29, 29);
    color: white;
}

.main{
    display: grid;
    grid-area: main;
    grid-template-rows: 30vh auto;
    grid-template-areas:
    "lastnews"
    "caixa1"
    ;
}

.lastnews{
    background-color: rgb(111, 214, 97);
    grid-area: lastnews;
}

.caixa1{
    background-color: rgb(255, 255, 255);
    grid-area: caixa1;
    display: grid;
    grid-template-areas:
    "noticia1 noticia2 noticia3"
    ;
/*    grid-template-columns: 1fr; */
}

.noticia1, .noticia2, .noticia3{
    background-color: rgb(255, 255, 255);
    height: clamp(250px, 40vh, 500px);
    border-radius: 1vw;
    border: solid 0.1rem rgb(135, 135, 135);
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 15px rgba(86, 86, 86, 0.818);
}

.noticia1{
    grid-area: noticia1;
    overflow: hidden;
    margin-left: 1rem;
}

.noticia2{
    grid-area: noticia2;
    margin-left: 3rem;
    margin-right: 3rem;
}

.noticia3{
    grid-area: noticia3;
    margin-right: 1rem;
}