<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    display: grid;  
    min-height: 100vh;
    grid-template-rows: auto auto 30vh;
    grid-template-areas:
    "topo"
    "main"
    "rodape"
    ;
}

.top{
    grid-area: topo;
    background-color: rgb(0, 132, 255);
    display: grid;
    grid-template-areas:
    "titulo"
    "campoindice"
    ;
}

.tituloIndice{
    grid-area: titulo;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-areas:
    "eva settings"
    ;
    grid-template-columns: auto 50px;
}

.eva{
    grid-area: eva;
}

.settings{
    grid-area: settings;
    background-color: sandybrown;
}

.campoIndice{
    grid-area: campoindice;
    height: 5vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "botao1 botao2 botao3 pesquisa";
}

.botao1, .botao2, .botao3{
    background-color: rgb(153, 153, 153);
    display: grid;
    justify-content: center;
    align-items: center;
}

.estiloBotao{
    border-radius: 5px;
    color: blue;
    border: 0px;
}

.botao1{
    grid-area: botao1;
    display: grid;
    grid-template-columns: 1fr;
}

.botao2{
    grid-area: botao2;
    display: grid;
    grid-template-columns: 1fr;
}

.botao3{
    grid-area: botao3;
    display: grid;
    grid-template-columns: 1fr;
}

.pesquisa{
    grid-area: pesquisa;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pesquisa input{
    border: 0px;
    border-radius: 10px;
}

.main{
    display: grid;
    grid-area: main;
    grid-template-rows: 30vh auto auto;
    grid-template-areas:
    "caixaLastnews"
    "caixaNoticia"
    "caixaResumo"
    ;
}

.caixaLastNews{
    grid-area: caixaLastnews;
    display: grid;
    align-items: center;
    width: 100%;
}

.lastNews{
    background-color: rgb(255, 255, 255);
    height: 25vh;
    border-radius: 1vw;
    border: solid 0.1rem rgb(135, 135, 135);
    box-shadow: 5px 5px 1px 0px rgba(80, 120, 185, 0.820);
    width: 90% !important; 
    justify-self: center;
}

.caixaNoticia{
    background-color: rgb(255, 255, 255);
    grid-area: caixaNoticia;
    display: grid;
    grid-template-areas:
    "noticia1 noticia2 noticia3"
    ;
    width: 90%;
    justify-self: center;
    align-items: center;
    gap: 2rem;
}

.noticia1, .noticia2, .noticia3{
    background-color: rgb(255, 255, 255);
    height: clamp(250px, 40vh, 500px);
    border-radius: 1vw;
    border: solid 0.1rem rgb(135, 135, 135);
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 1px 0px rgba(80, 120, 185, 0.820);
    
}

.noticia1{
    grid-area: noticia1;
    overflow: hidden;
}

.noticia2{
    grid-area: noticia2;
}

.noticia3{
    grid-area: noticia3;
}

.caixaResumo{
    grid-area: caixaResumo;
    width: 100%;
    height: clamp(250px, 40vh, 500px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewResumo{
    background-color: rgb(255, 255, 255);
    height: 35vh;
    border-radius: 1vw;
    border: solid 0.1rem rgb(135, 135, 135);
    box-shadow: 5px 5px 1px 0px rgba(80, 120, 185, 0.820);
    width: 90%; 
}

.rodape{
    grid-area: rodape;
    display: grid;
    background-color: rgb(29, 29, 29);
    color: white;
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    display: grid;  
    min-height: 100vh;
    grid-template-rows: auto auto 30vh;
    grid-template-areas:
    "topo"
    "main"
    "rodape"
    ;
}

.top{
    grid-area: topo;
    background-color: rgb(0, 132, 255);
    display: grid;
    grid-template-areas:
    "titulo"
    "campoindice"
    ;
}

.tituloIndice{
    grid-area: titulo;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-areas:
    "eva settings"
    ;
    grid-template-columns: auto 50px;
}

.eva{
    grid-area: eva;
}

.settings{
    grid-area: settings;
    background-color: sandybrown;
}

.campoIndice{
    grid-area: campoindice;
    height: 5vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "botao1 botao2 botao3 pesquisa";
}

.botao1, .botao2, .botao3{
    background-color: rgb(153, 153, 153);
    display: grid;
    justify-content: center;
    align-items: center;
}

.estiloBotao{
    border-radius: 5px;
    color: blue;
    border: 0px;
}

.botao1{
    grid-area: botao1;
    display: grid;
    grid-template-columns: 1fr;
}

.botao2{
    grid-area: botao2;
    display: grid;
    grid-template-columns: 1fr;
}

.botao3{
    grid-area: botao3;
    display: grid;
    grid-template-columns: 1fr;
}

.pesquisa{
    grid-area: pesquisa;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pesquisa input{
    border: 0px;
    border-radius: 10px;
}

.main{
    display: grid;
    grid-area: main;
    grid-template-rows: 30vh auto auto;
    grid-template-areas:
    "caixaLastnews"
    "caixaNoticia"
    "caixaResumo"
    ;
}

.caixaLastNews{
    grid-area: caixaLastnews;
    display: grid;
    align-items: center;
    width: 100%;
}

.lastNews{
    background-color: rgb(255, 255, 255);
    height: 25vh;
    border-radius: 1vw;
    border: solid 0.1rem rgb(135, 135, 135);
    box-shadow: 5px 5px 1px 0px rgba(80, 120, 185, 0.820);
    width: 90% !important; 
    justify-self: center;
}

.caixaNoticia{
    background-color: rgb(255, 255, 255);
    grid-area: caixaNoticia;
    display: grid;
    grid-template-areas:
    "noticia1 noticia2 noticia3"
    ;
    width: 90%;
    justify-self: center;
    align-items: center;
    gap: 2rem;
}

.noticia1, .noticia2, .noticia3{
    background-color: rgb(255, 255, 255);
    height: clamp(250px, 40vh, 500px);
    border-radius: 1vw;
    border: solid 0.1rem rgb(135, 135, 135);
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 1px 0px rgba(80, 120, 185, 0.820);
    
}

.noticia1{
    grid-area: noticia1;
    overflow: hidden;
}

.noticia2{
    grid-area: noticia2;
}

.noticia3{
    grid-area: noticia3;
}

.caixaResumo{
    grid-area: caixaResumo;
    width: 100%;
    height: clamp(250px, 40vh, 500px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewResumo{
    background-color: rgb(255, 255, 255);
    height: 35vh;
    border-radius: 1vw;
    border: solid 0.1rem rgb(135, 135, 135);
    box-shadow: 5px 5px 1px 0px rgba(80, 120, 185, 0.820);
    width: 90%; 
}

.rodape{
    grid-area: rodape;
    display: grid;
    background-color: rgb(29, 29, 29);
    color: white;
>>>>>>> 1ad2b3f (testando)
}