/* Remove margens e espaçamentos padrões dos elementos,
   além de definir box-sizing para facilitar o controle de tamanhos */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif; 
}


body {
  display: flex;
  background: rgba(19, 36, 71, 0.7);
}


/*          MENU           */

/* Cria uma barra lateral */
.sidebar {
  width: 260px;
  height: 100vh;
  background: #0f172a;
  color: white;
  padding: 20px;
  position: fixed;
}


/* Centraliza o título do menu */
.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* Remove os marcadores da lista */
.sidebar ul {
  list-style: none;
}


/* Estiliza cada item do menu */
.sidebar li {
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .3s;
}

/* Efeito ao passar o mouse*/
.sidebar li:hover {
  background: #1e293b;
}


/*   CONTEÚDO    */


/* Espaço reservado para não ficar atrás da sidebar */
.main {
  margin-left: 260px;
  flex: 1;
  padding: 25px;

}

/* Cabeçalho*/

.header {
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}

.header h1 {
  color: white;
  margin-bottom: 8px;
}

.header p {
  color: rgba(255, 255, 255, 0.9);
}

/*   Botões de Ações   */

/* Organiza os botões em linha */
.actions {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

/* Estilo dos botões*/
.btn {
  border: none;
  padding: 14px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: .3s;
}

/* Efeito ao passar o mouse*/
.btn:hover {
  transform: translateY(-2px);
}

 /* Cor específica dos botões*/
.btn-news {
  background: rgb(15, 25, 45);
}

.btn-summary {
  background: rgb(15, 25, 45);
}

/*    CARDS      */

/*Organiza os cards*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  margin-bottom: 25px;
}

/* Aparência individual dos cards */
.card {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}

.card h3 {
  color: white;
  margin-bottom: 10px;
}

/* Valor principal exibido no card */
.card p {
  font-size: 32px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
}

/*   SEÇÕES   */

/* blocos de informações */
.section {
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}

.section h2 {
  margin-bottom: 15px;
  color: #ffffff;
}

.item {
  padding: 15px 0;
  border-bottom: 1px solid #e2e8f0;
}

/* Remove a borda do último item */
.item:last-child {
  border: none;
}

.item-title {
  font-weight: 600;
  margin-bottom: 5px;
  color: rgba(194, 26, 26, 0.925);
}

/* Destaque para o título do item */
.item-info {
  color: rgb(192, 178, 178);
  font-size: 14px;
}

/*  RESPONSIVO  */

/* Ajustes para mobile devices */
@media(max-width:768px) {

  /* Oculta o menu lateral */
  .sidebar {
    display: none;
  }

  .main {
    margin-left: 0;
  }

  .actions {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}

/* Cor de fundo padrão */
.card,
.header,
.section {
  background: rgb(15, 25, 45);
}

/* Remove decoração dos links */
a,
a:visited {
    text-decoration: none;
    color: inherit;
}

/* ================= POPUP DE NOTÍCIAS ================= */


/* Overlay que cobre toda a tela quando o popup é aberto */
.popupNoticia, .popupBanner {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;

  /* Escurece e desfoca o fundo da página */
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);

/* Garante que fique acima dos demais elementos */
  z-index: 999;
}

.conteudoPopupNoticia, .conteudoPopupBanner {
  background: rgb(15, 25, 45);

  width: 60%;
  height: auto;

  max-width: 90vw;
  max-height: 90vh;

  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  color: white;

  text-align: center;

  /* Adiciona rolagem caso o conteúdo ultrapasse o tamanho disponível */
      overflow-y: auto;
}

/* Formulário utilizado dentro do popup */
.formPopupNoticia, .formPopupBanner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ================= BOTÕES DE IMAGEM ================= */

/* Botão para selecionar ou enviar imagem */
.btnImagem {
  background: #ffffff;
  color: rgb(15, 25, 45);

  padding: 12px;

  border-radius: 8px;

  cursor: pointer;
  text-align: center;

  margin-top: 1vh;
}

.btnImagem:hover {
  opacity: .9;
}

/* Segundo botão relacionado à imagem */
.btnImagem2 {
  background: #ffffff;
  color: rgb(15, 25, 45);

  padding: 12px;

  border-radius: 8px;

  cursor: pointer;
  text-align: center;
}

.btnImagem2:hover {
  opacity: .9;
}

/* Botão de confirmação de corte permanece oculto até ser necessário */

#btnConfirmarCorte {
    display: none;
}

/* ================= PRÉ-VISUALIZAÇÃO DA IMAGEM ================= */

/* Área que exibe a imagem selecionada */
#preview, #previewBanner {
  width: 100%;
  height: 50%;

  /* Ajusta a imagem sem deformá-la */
  object-fit: cover;

  border: 2px solid #ccc;
  border-radius: 10px;

 /* Inicialmente oculto */
  display: none;
}
/* ================= CAMPO DE TÍTULO ================= */

/* Personaliza o campo de texto do título */
.tituloLabel input {
  width: 100%;
  height: auto;

  background-color: rgb(15, 25, 45);
  border: 1.5px solid white;
  border-radius: 5px;
  color: white;

  padding: 10px;
  resize: none;

}

/* ================= CAMPO DE DESCRIÇÃO ================= */

/* Personaliza a área de descrição da notícia */
.descricaoLabel textarea {
  width: 100%;
  height: 25vh;

  padding: 10px;
  resize: none;

  background-color: rgb(15, 25, 45);
  border: 1.5px solid white;
  border-radius: 5px;
  color: white;
}

/* Remove a borda padrão ao selecionar o campo */
.descricaoLabel textarea:focus {
  outline: none;
}

/* Remove a borda padrão ao selecionar o campo */
.tituloLabel input:focus {
  outline: none;
}

/* Personaliza a cor dos placeholders */

.tituloLabel input::placeholder, .descricaoLabel textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* ================= BOTÕES DO POPUP ================= */

/* Organiza os botões lado a lado */
.popupBotoes {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.estiloBotao {
  background: rgb(255, 255, 255);
  color: rgb(15, 25, 45);
  padding: 12px 20px;
  border-radius: 9px;
  border: none;
  cursor: pointer;
}

/* botão logout com aparência simples*/
.btnLogout {
  background: none;
  border: none;
  color: white;
}

#posicaoBanner{
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 5px;

  font-size: 16px;
  font-weight: 500;

  border: 1px solid #ccc;
  border-radius: 8px;

  background-color: #fff;
  color: #333;

  cursor: pointer;

  transition: all 0.2s ease-in-out;
}